@model PracticaMvcMichelyPinto.Models.ImagenZapatilla

@{
    Zapatilla zapatilla =
            ViewData["ZAPATILLASELECCIONADA"] as Zapatilla;
}
<h1>ZapatillasImagenes</h1>

<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
            <button class="btn btn-dark" onclick="loadImagen(1)" id="primero">
                Primero
            </button>
        </li>
        <li class="list-group-item">
            <button class="btn btn-dark" onclick="loadImagen(@ViewData["ANTERIOR"])" id="anterior">
                Anterior
            </button>
        </li>
        <li class="list-group-item">
            <button class="btn btn-dark" onclick="loadImagen(@ViewData["SIGUIENTE"])" id="siguiente">
                Siguiente
            </button>
        </li>
        <li class="list-group-item">
            <button class="btn btn-dark" onclick="loadImagen(@ViewData["ULTIMO"])" id="ultimo">
                Ultimo
            </button>
        </li>
    </ul>

</div>
<div id="container" class="card" style="width: 18rem;">
      
        <img class="card-img-top" src="@Model.Imagen" alt="Card image cap">
    
</div>
