@model PracticaMvcMichelyPinto.Models.Zapatilla

@{
    ViewData["Title"] = "Detalle";
}



<div>
    <h4>Zapatilla</h4>
    <hr />

    <div class="card" style="width: 35rem;">
        <div class="card-body">
            <h5 class="card-title">Nombre @Model.Nombre</h5>
   
            <p class="card-text">@Model.Descripcion</p>
            <p class="card-text">Precio: @Model.Precio</p>

            
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div id="container"> </div>
@section Scripts{
    <script>
        function loadImagen(posicion) {
            $(document).ready(function(){
                $("#container").load("/Zapatillas/_PartialPaginacion?posicion="
                    + posicion + "&idproducto=" + @Model.IdProducto);
                console.log(posicion);
            })
        }
        loadImagen(1);
    </script>
}
 