@model Zapatilla
@{
    List<Zapatilla> zapatillas = ViewData["ZAPATILLAS"] as List<Zapatilla>;
}
<p>
    <a asp-controller="Zapatillas" asp-action="Zapatillas">
        Volver a Index
    </a>
</p>
<h1>Nuevas imagenes zapatillas</h1>
<form method="post">
    <h2>Seleccione una zapatilla:</h2>
    <select class="form-select" aria-label="Default select example">
        @foreach (Zapatilla zap in zapatillas)
        {
            <option value="@zap.IdProducto">@zap.Nombre</option>
        }
        
    </select>
    <input type="text" name="imagen" />
    <label>Imagen</label>
  
    <button class="btn btn-info">
        Insertar imagen
    </button>
</form>

@* @section Scripts{
    No me va a dar tiempo
} *@